@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .slider {
    position: relative;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .quote {
    width: 400px;
  }

  .right-arrow {
    position: absolute;
    top: 50%;
    right: 12px;
  }

  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }

  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
}
