@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");

* {
  font-family: "Roboto Mono", cursive;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@layer components {
  .slider {
    position: relative;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .quote {
    width: 400px;
  }

  .right-arrow {
    position: absolute;
    top: 50%;
    right: 12px;
  }

  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }

  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  .titlecard {
    background: white;
    width: 40vw;
    transition: 1s ease-out 0s 1 slideInFromLeft;
  }

  .titlecard.show {
    opacity: 1;
    width: 50vw;
  }
}
